$playcolor: #7123a6;
$playBtncolor: #9260e0;

body {
	background: #212121;
	margin: 0;
	padding: 0;
}

* {
	font-family: Roboto;
	font-size: 24px;
	color: white;
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 70px;
}

main {
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
}

.main-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 300px;
	height: 250px;
	position: relative;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	transition: all ease-in-out 0.2s;
	transform-style: preserve-3d;
	perspective: 1000px;
}

// .card__complete {
	
// }

.play-card {
	.card__desc {
		display: none;
	}
	.front {
		position: relative;
	}
}

.main-card {
	cursor: pointer;
	box-shadow: 0 0 20px 0 black;
	padding-bottom: 10px;
	&:hover {
		transform: scale(1.02);
		box-shadow: 0 0 25px 5px black;
	}
} 

.main-card.main-card__play {
	background: $playcolor;
}

.card__img {
	img {
		width: 100%;
		display: block;
	}
}

.card__desc {
	position: relative;
	margin: 8px 0;
}

.rotate-icon {
	background-image: url('assets/img/rotate.png');
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	bottom: -10px;
	filter: grayscale(1);
	transition: all ease-in-out 0.1s;
	&:hover{
		background-size: 40px
	}
}

.back, .front {
	cursor: pointer;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 0 20px 0 black;
	transform-style: preserve-3d;
	perspective: 1000px;
	width: 100%;
  top: 0;
	bottom: 0;
	backface-visibility: hidden;
	transition-property: transform, box-shadow;
	transition-duration: 0.4s, 0.2s;
	transition-timing-function: ease-in-out, ease-in-out;
	&:hover {
		box-shadow: 0 0 25px 5px black;
		transform: scale(1.02);
	}
}

.back {
	transform: rotateY(180deg);
}

.translate .back {
	transform: rotateY(360deg);
}

.translate .front {
	transform: rotateY(180deg);
}

.toggle {
	position: relative;
	transition: all ease-in-out 0.2s;
	height: 30px;
	width: 75px;
	background: white;
	border: 3px solid black;
	border-radius: 8px;
	cursor: pointer;
	&:hover {
		.switch {
			transform: scale(0.85);
		}
	}
}

.switch {
	position: absolute;
	width: 22px;
	height: 22px;
	margin: 1px;
	background: #c3c3c3;
	border-radius: 20%;
	transition: all ease-in-out 0.2s;
	box-shadow: inset 0 0 14px 0px black;
	right: 45px;
	z-index: 1;
}

.mode {
	position: absolute;
	text-transform: capitalize;
	font-size: 15px;
	font-weight: bold;
	color: black;
	margin: 6px;
	right: 0;
	line-height: 12px;
	transition: all ease-in-out 0.2s;
}

.play {
	background: $playBtncolor;
	.switch {
		right: 0;
	}
	.mode {
    color: white;
		right: 30px;
	}
}

.play-btn {
	box-shadow: inset 0 0 20px 0px black;
	border: none;
	outline: none;
	height: 50px;
	width: 100px;
	max-width: 320px;
	margin: 30px auto;
	text-transform: uppercase;
	border-radius: 10px;
	background: $playBtncolor;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
	filter: opacity(0.8);
	&:hover {
		filter: opacity(1);
	}
}

.repeat-btn {
	width: 50px;
	border-radius: 50%;
	padding-top: 6px;
}

.final {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	font-family: 'Roboto';
	border-radius: 50%;
	div {
		position: relative;
    background-image: url(assets/img/point.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 30vh;
    width: 30vh;
		border-radius: 50%;
		&::after {
			position: absolute;
			bottom: -25%;
			font-size: 5vh;
			width: max-content;
			text-align: center
		}
	}
}

.success {
	div {
		background-color: #397f00;
		&::after {
			content: "GOOD JOB!";
			color: #397f00;
			left: 8%
		}
	}
}

.failure {
	color: #b7483b;
	font-size: 30px;
	div{
		margin-top: 30px;
		background-color: #b7483b;
		&::after {
			content: "Try again, You can do it!";
			color: #b7483b;
			left: -30%;
		}
	}
}

.raiting {
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	height: 100px;
}

.star {
	height: 70px;
	min-width: 70px;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.star-error {
	background: url('assets/img/star.svg');
}

.star-correct {
	background: url('assets/img/star-win.svg');
}