.main-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 300px;
	height: 250px;
	position: relative;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	transition: all ease-in-out 0.2s;
	transform-style: preserve-3d;
	perspective: 1000px;
}

.play-card {
	.card__desc {
		display: none;
	}
	.front {
		position: relative;
	}
}

.main-card {
	cursor: pointer;
	box-shadow: 0 0 20px 0 black;
	padding-bottom: 10px;
	&:hover {
		transform: scale(1.02);
		box-shadow: 0 0 25px 5px black;
	}
} 

.main-card.main-card__play {
	background: $playcolor;
}

.card__img {
	img {
		width: 100%;
		display: block;
	}
}

.card__desc {
	position: relative;
	margin: 8px 0;
}

.rotate-icon {
	background-image: url('assets/img/rotate.png');
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	bottom: -10px;
	filter: grayscale(1);
	transition: all ease-in-out 0.1s;
	&:hover{
		background-size: 40px
	}
}

.back, .front {
	cursor: pointer;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 0 20px 0 black;
	transform-style: preserve-3d;
	perspective: 1000px;
	width: 100%;
  top: 0;
	bottom: 0;
	backface-visibility: hidden;
	transition-property: transform, box-shadow;
	transition-duration: 0.4s, 0.2s;
	transition-timing-function: ease-in-out, ease-in-out;
	&:hover {
		box-shadow: 0 0 25px 5px black;
		transform: scale(1.02);
	}
}

.back {
	transform: rotateY(180deg);
}

.translate .back {
	transform: rotateY(360deg);
}

.translate .front {
	transform: rotateY(180deg);
}