$wrapperWidth: 500px;

.wrapper{
	width: $wrapperWidth;
	height: $wrapperWidth;
	margin: auto auto;
	position: relative;
}

.cell{
	position: absolute;
	transition: all ease-in-out .3s;
	// width: $wrapperWidth/4;
	// height: $wrapperWidth/4;
}

