footer{
	background: $gradient;
}

.footer__wrapper{
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}

.footer__content-wrapper{
	width: 740px;
	display: flex;
	justify-content: space-between;
}

.footer__content{
	padding-top: 16px;
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
	color: $primary;
	max-width: 302px;
	display: flex;
	flex-direction: column;
	h3{
		color: white;
	}
	h4{
		display: flex;
		align-items: center;
		color: $primary;
	}
	svg{
		margin-right: 20px;
		min-width: 22px;
	}
}


@media screen and (max-width: 1279px) {

	.footer__wrapper{
		display: grid;
		justify-content: space-around;
		padding-top: 30px;
	}

	.footer__img{
		justify-self: center;
		grid-column: 1 / span 2;
	}

	.footer__content{
		padding: 0;
		min-height: 234px;
		margin-bottom: 65px;
	}
}

@media screen and (max-width: 767px){

	.footer__wrapper{
		padding-top: 30px;
		grid-template-rows: 234px;
		row-gap: 40px;
	}

	.footer__img{
		margin: 0 6vw;
		justify-self: center;
		grid-column: 1;
		position: relative;
		img{
			display: block;
			max-width: 100%;
		}
	}

	.footer__content{
		justify-self: center;
		margin-bottom: 50px;
		h3{
			font-size: 35px;
			display: block;
		}
		h4{
			font-size: 20px;
			line-height: 115%;
		}
	}
}