header{
	padding-top: 60px;
	z-index: 2;
}

.header__wrapper{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.logo{
	display: flex;
	flex-direction: column;
	z-index: 1;
	opacity: 1;
	transition-property: all;
	transition: all ease-in-out;

}

.logo__title{
	color: $primary;
	font-family: Georgia;
	font-size: 32px;
	letter-spacing: 0.06em;
	line-height: 110%;
}

.logo__subtitle{
	text-align: center;
	margin-top: 10px;
	color: #fff;
	font-size: 13px;
	line-height: 110%;
	letter-spacing: 0.1em;
}

.menu{
	display: flex;
	width: 443px;
}

.list{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 100%;
}

.list__item{
	display: flex;
	align-items: center;
}

.list__link{
	color: #fff;
	line-height: 160%;
	cursor: pointer;
}

.list__link-active{
	border-bottom: solid 3px $primary;
}

.list__link-disabled{
	color: #CDCDCD;
	&:hover{
		color: #fff;
	}
}



@media screen and (max-width: 1279px) {
	header{
		padding-top: 30px;
	}
}

@media screen and (max-width: 767px){

	header{
		z-index: 2;
	}

	.header__wrapper{
		align-items: center;
	}

	.menu{
		display: none;
	}
	
	.burger-menu{
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 10px;
		margin: 35px 53px 0 0;
	}
}